/*
*Stylesheet for client Fixin To Buy website hosted on GoDaddy
*Author: John Marlett
* line 8 - 72 init settings + wrapper 
* line 73 > content settings
*
*theme color palette TBD
* Asphalt: #44495E, #2B2F3F
*Grey: #94929F
*Offwhite: #E4E3EC
*Red : #9D1416, #A8280E
* 
*/

html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, main, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  display: block; }

@media all and (min-width: 880px) {
  body { font-size: 95%; }
}

@media all and (min-width: 1200px) {
  body { font-size: 100%; }
}

html{
  background: url(/css/images/lake-austin.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button:focus{
    outline:none; }
    
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
    
a {
    color:#000000; }

a:hover {
    color:#CEE8E8; }

img {
    object-fit:contain;
    width:100%; }

section { height:auto; }
  
body {
    height: 100%;
    font-family: 'Calibri', 'Times New Roman', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent; }

main {
    height: 100%;
    margin: 7em 0 5em 0;
    background-color: transparent; }

section {
    margin: 1% 0; }

a {
    text-decoration: none; }

.image-wrapper {
    width: 100%;
    position:relative; }

#site-info{
    position: relative; }
    
.icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.1em; }



