/*
*Stylesheet for client Fixin To Buy website hosted on GoDaddy
*Author: John Marlett
* line 8 - 72 init settings + wrapper 
* line 73 > content settings
*
*theme color palette TBD
* Asphalt: #44495E, #2B2F3F
*Grey: #94929F
*Offwhite: #E4E3EC
*Red : #9D1416, #A8280E
* 
*/

html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, main, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  display: block; }

@media all and (min-width: 500px) {
  body { font-size: 70%; }
}

@media all and (min-width: 880px) {
  body { font-size: 90%; }
}

@media all and (min-width: 1200px) {
  body { font-size: 100%; }
}

html{
  background: url(/css/images/lake-austin.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button:focus{
    outline:none; }
    
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
    
a {
    color:#000000; }

a:hover {
    color:#CEE8E8; }

img {
    object-fit:contain;
    width:100%; }

section { height:auto; }
  
body {
    font-family:  'Times New Roman', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent; }

main {
    margin: 7em 0 5em 0;
    font-size: 100%;
    background-color: transparent; }

section {
    margin: 1% 0; }

a {
    text-decoration: none; }

.image-wrapper {
    width: 100%;
    position:relative; }
    
.container {
    margin: 2em;
    padding: 1em 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }


#site-info{
    position: relative; }

.space-box > ul {
     display: flex;
     flex-flow: column wrap;
     justify-content:space-around; }

.space-box > ul > li  {
    margin: 0.3em 0;
    font-size: 1.75em; }

.icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.1em; }

/*styling specific for contact page*/

#contact_me {}

#ajax-contact {
   background:transparent; }

#ajax-contact > div {
    background:transparent;
    width: 98%;
    height: 98%;
    margin: 1%;
    font-size: 1.35em; }

#ajax-contact > div > div {
    background:transparent;
    margin: 1%; }

#ajax-contact > div > div > label {
    margin-bottom: 1%; }

#ajax-contact > div > div > button {
    font-size: 1em; }
   #ajax-contact > div > div > button:active {
        }

#ajax-contact > div > div > input, textarea, button {
    
     }

#ajax-contact > div > div > input:focus, textarea:focus {
 }
    


