<nav class="wrapper">
        <div id="branding">
            <h1>We Buy Your House For Cash</h1>
            <div>
            <h2> Fixin' To Buy, LLC.</h2>
            <h2>Austin, TX</h2>
            </div>
         <ul>
            <a *ngIf ="linkName == 'contact' " [routerLink]= "['/contact']" routerLinkActive="active">
                <li>{{linkName}}</li>
            </a>
            <a *ngIf ="linkName == 'home' " [routerLink]= "['/home']" routerLinkActive="active">
                <li>{{linkName}}</li>
            </a>
        </ul>
        </div>
    </nav>