.container {
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }

#site-info{
    position: relative; }

.space-box {
    margin:1em auto;
    width: 50em;
    height: 30em;
    background: linear-gradient(to bottom, rgba(110,132,144, 1), rgba(110,132,144,0.75));
    background: -o-linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255,1));
    background: linear-gradient (to bottom, rgba(255,255,255, 0), rgba(255,255,255,1));
    padding: 1% 1%;
    color: #e9ece5; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch; }

.space-box > h2 {
    margin: 0.5rem 0 1rem 0;
    padding: 0 0 0.5em 0;
    border-bottom: solid 2px #e9ece5;
    font-size: 2em;
    font-weight: 600;
    font-style:italic;
    text-align: center;
    align-self:center; }

.space-box > footer {
    margin-top: auto;
    width: 90%; 
    border-bottom: 1px solid #e9ece5;
    align-self: center; }


.space-box > ul {
     display: flex;
     flex-flow: column wrap;
     justify-content:space-around; }

.space-box > ul > li  {
    margin: 0.3em 0;
    font-size: 1.75em; }
    
    
@media (min-width: 880px) {
    
.container {
    margin: 2em;
    padding: 1em 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    
.space-box {
    width: 25em; }
}

@media (min-width: 1200px) {
    .space-box {
    width: 25em; }

}
