 <section id= "site-info" class="container">
            <div class="space-box">
                <h2>Contact Us For A Quote</h2>
                 <contact-form></contact-form>
                <footer></footer>
            </div>
                    
            <div class="space-box">
                <h2>What We Do</h2>
                <ul>
                    <li>Receive your Quote</li>
                    <li>Make a cash offer for your house</li>
                    <li>Pay your closing costs</li>
                    <li>Close quickly</li>
                    <li>Handle all the repairs & remodeling</li>
                </ul>
                <footer></footer>
            </div>
            <div class="space-box">
                <h2>Who We Are</h2>
                <ul>
                    <li>Located here in Austin, TX</li>
                    <li>Small business with personal approach</li>
                    <li>Pay your closing costs</li>
                    <li>Close quickly</li>
                    <li>Handle all the repairs & remodeling</li>
                </ul>
                <footer></footer>
            </div>
           
        </section> <!-- end #site-info .container -->